.LoadingContainer {
  flex: 1;
  align-self: center;
  justify-self: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 120px;
  min-height: 120px;
  margin: 0 auto;

  &.loading {
    background-color: red;
    background: url(../../assets/images/loading.gif);
    background-position: center;
    // background-attachment: fixed;
    background-size: 80px 80px;
    background-repeat: no-repeat;
  }
}