.LunchMap {
  flex: 2;
  position: relative;
  min-height: 250px;

  .MapContainer {
    height: 100%;

    .MarkerInfo {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      text-align: center;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      h3 {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}