.Internet-Page {
  color: red;
  border: 1px solid green;

  .browserActions {
    white-space: nowrap;

    .Icon {
      margin: 0 5px;

      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
  /* Dummy Background 'Content' */
  .Page-content {
    height: 1000px;
    background: url('../../assets/images/webPlaceholder.png');
    background-position: 0 0;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
  }
}