.List {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: rbga(0,0,0,1);

  .List-item {
    height: 180px;
    width: 100%;
    overflow: hidden;

    &.active {
      opacity: 1;
      outline: 1px solid rgba(255,255,255,.8);
    }
  }

  &.activeItems {
    .List-item:not(.active) {
      opacity: .4;
    }
  }
}

@media (min-width: 500px) {
  .List {
    .List-item {
      width: 50%;
    }
  }
}

@media (min-width: 1500px) {
  .List {
    .List-item {
      width: 33.33%;
    }
  }
}