.LunchListItem {
  position: relative;
  cursor: pointer;

  img.LunchListItem-image {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
  }

  .LunchListItem-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));

    .heading {
      font-size: 16px;
      margin: 0 0 6px;
    }

    .info {
      font-size: 12px;
      margin: 0;
    }
  }
}