.LunchDetail {
  position: relative;
  flex: 4;
  background: white;

  .LunchDetail-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    color: white;
    background: #34b379;
    padding: 0 12px;

    .heading {
      font-size: 16px;
      margin: 0 0 6px;
    }

    .info {
      font-size: 12px;
      margin: 0;
    }
  }

  .LunchDetail-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 50px;

    .LunchDetail-image-container {
      position: relative;
      height: auto;
      max-height: 100px;
      width: 100%;
      overflow: hidden;
  
      img {
        width: 100%;
        height: auto;
        min-height: 100%;
        object-fit: cover;
      }
    }
  
    .LunchDetail-info {
      padding: 16px 12px;
  
      .info {
        font-size: 16px;
        color: #2a2a2a;
      }
  
      .LunchDetail-address {
        margin: 0 0 26px;
  
        .info {
          display: inline;
          margin-right: 5px;
        }
      }
  
      .LunchDetail-contact {
        .info {
          margin: 0 0 26px;
        }
      }
    }
  }

  .close-button {
    position: absolute;
    top: 15px;
    right: 10px;
  }
}

@media (min-width: 500px) {
  .LunchDetail {
    .LunchDetail-content {
      flex-direction: row;

      .LunchDetail-image-container {
        max-height: 250px;
        width: 50%;
      }
    }
  }
}

@media (min-width: 1000px) {
  .LunchDetail {
    .LunchDetail-content {
      flex-direction: column;

      .LunchDetail-image-container {
        width: 100%;
      }
    }

    .close-button {
      display: none;
    }
  }
}
