.AppNavigator {
  .AppNavigator-navBar {
    position: fixed;
    padding: 5px 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
  }

  .AppNavigator-content {
    position: relative
  }
}