.Lunch-Page {
  .map-button {
    box-sizing: initial;
    border-radius: 10px;
    padding: 5px;

    &.active {
      background: #34b379;
    }
  }

  .sidebarContent {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
} 