.Icon {
  padding: 2px;
  display: inline-block;

  &.Icon-size-sm {
    height: 30px;
  }

  &.Icon-size-md {
    height: 50px;
  }

  &.Icon-size-lg {
    height: 80px;
  }

  &.Icon-button {
    cursor: pointer;
  }
}