@page_header_height: 65px;
@page_sidebar_transition_duration: 1s; 
@page_sidebar_width: 500px; 

.Page {
  .Page-header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 0 10px;
    box-sizing: border-box;
    height: @page_header_height;
    width: 100%;
    background: #43e895;
    z-index: 1;

    .Page-title {
      flex: 0;
      align-self: center;
      font-size: 17px;
      font-weight: bold; 
      margin: 10px 0;
      white-space: pre;
      color: white;
    }

    .Page-header-leftContent {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .Page-header-rightContent {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .Page-content {
    position: relative;
    margin: 63px 0 48px;

    .Page-loadingContainer {
      margin-top: 30vh;
    }

    .Page-content-main {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-bottom: 50px;
    }

    .Page-content-sidebar {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      overflow-x: hidden;
      
      &.active {
        min-height: 100vh;
        width: 100vw;
      }

      .close-button{
        position: absolute;
        top: 15px;
        right: 10px;
        display: none;
      }
    }
  }
}

@media (min-width: 1000px) {
  .Page {
    .Page-header {
      display: none;
    }

    .Page-content {
      margin: 0;

      .Page-content-main {
        margin-bottom: 0;
        transition: right @page_sidebar_transition_duration;
        right: @page_sidebar_width;

        &.sidebarActive {
          right: @page_sidebar_width;
        }
      }

      .Page-content-sidebar {
        top: 0;
        min-height: 100vh;
        transition: width @page_sidebar_transition_duration;
        width: @page_sidebar_width;
    
        &.active {
          width: @page_sidebar_width;
          
          .close-button{
            position: absolute;
            display: initial;
          }
        }
      }
    }
  }
} 