@font-face {
  font-family: "Avenir Next Regular";
  src: url(./assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(./assets/fonts/AvenirNextLTPro-Bold.otf);
}

body {
  font-family: 'Avenir Next Regular';
  background: black;

  h1, h2, h3, h4 {
    font-family: 'Avenir Next Bold';
  }
}
