.NavBar {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background: black;

  .NavBar-tab {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    opacity: .45;

    &.active {
      opacity: 1;
    }

    .label {
      font-size: 10px;
    }
  }
}

@media (min-width: 1000px) {
  .NavBar {
    display: none;
  }
}